
.header {
  background: #191414;
  height: 150px;
  display: flex;
}

.header h1 {
  margin: 0;
  padding-top: 50px;
  padding-left: 33.7%;
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
}

.logo {
  max-height: 100px;
  display: flex;
  padding-top: 25px;
}