body {
    background: linear-gradient(-45deg, #1db954, #46d177, #314638, #83eed5);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
  }


  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media (min-width:600px){
  #card-one{
    width: 300px; 
    position: relative;
    left: 247px;
    bottom: -188px;
    }
  }

  @media (min-width:600px){
  #card-two{
    width: 300px; 
    position: relative;
    left: 345px; 
    bottom: -188px; 
    }
  }
  
  @media (min-width: 600px){
  #card-three{
    width: 300px; 
    position: relative;
    left: 445px; 
    bottom: -188px;
    }
  }
  
  @media (min-width: 600px){
  #card-four{
    width: 300px; 
    position: relative;
    left: -1050px; 
    bottom: -188px; 
    }
  }



