body {
    background: linear-gradient(-45deg, #1db954, #46d177, #314638, #83eed5);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
  }

  body {
    margin: 0%;
    padding: 0%;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  #card-one{
    width: 310px; 
    height: 300px;
    display: inline;
    position: relative;
    bottom: -135px;
    padding: 25px;
    margin: 0px;
    }


  .btn{
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 40px;
    margin-top: -10px;
    padding: -10px;
    border:none;
    height: 45px;
    width: 140px;
   
  } 

  .btn {
    text-align: center;
  }

  /* #button {
    width: min-content;
  } */

  /* @media screen and (max-width:992px) {
    #button {
      width: auto;
    }
  } */

    /* .wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    } */

 
  /* #card-two{
    width: 300px; 
    height: 300px;
    display: inline-block; */
    /* position: absolute; */
    /* left: 345px; 
    bottom: -188px;  */
    /* } */
  

  /* #card-three{ */
    /* width: 300px; 
    height: 300px;
    display: inline-block; */
    /* position: absolute;
    left: 445px; 
    bottom: -188px; */
    /* } */
  
  /* @media (min-width: 600px){ */
  /* #card-four{
    width: 300px; 
    height: 300px;
    display: inline; */
    /* position: absolute;
    left: -1050px; 
    bottom: -188px;  */
    
  /* } */

  @media screen and (max-width:500px) {
    #card-one {
      width:80%;
      height:370px;
    }
  }

