body {
    background: linear-gradient(-45deg, #1db954, #46d177, #314638, #83eed5);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
  }


  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  #card-one{
    width: 300px; 
    height: 300px;
    display: inline;
    position: relative;
    /*left: 247px;*/
    bottom: -225px;
    padding: 25px;
    margin: 0px;
    }


  .btn{
    display: inline-block;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 55px;
    margin-top: -10px;
    padding: -10px;
    border:none;
    height: 35px;
    width: 100px;
   
  } 

  .btn {
    text-align: center;
  }

 
  /* #card-two{
    width: 300px; 
    height: 300px;
    display: inline-block; */
    /* position: absolute; */
    /* left: 345px; 
    bottom: -188px;  */
    /* } */
  

  /* #card-three{ */
    /* width: 300px; 
    height: 300px;
    display: inline-block; */
    /* position: absolute;
    left: 445px; 
    bottom: -188px; */
    /* } */
  
  /* @media (min-width: 600px){ */
  /* #card-four{
    width: 300px; 
    height: 300px;
    display: inline; */
    /* position: absolute;
    left: -1050px; 
    bottom: -188px;  */
    
  /* } */

  @media screen and (max-width:500px) {
    #card-one {
      width:50%;
      height:100px;
    }
  }

