.navbar {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 1rem;
    
  }
  
  .navbar nav ul {
    list-style-type: none;
  }
  
  .navbar nav ul ol {
    display: inline-block;
    margin-left: 10px;  
    position: relative;
    left: 645px;
    bottom: -38px;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
  }
  
  .navbar nav ol a {
    color: #ffffff;
    text-decoration: none;
  }