body {
    background: linear-gradient(-45deg, #1db954, #46d177, #314638, #83eed5);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
  }


  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }




